$TEXT-COLOR-WHITE: #ffffff;
$BUTTON-COLOR: linear-gradient(269deg, #c0b7e8 -3.72%, #8176af 82.17%);
$BG-COLOR: #302c42;
$ICON-COLOR: #c0b7e8;
$BUTTON-BG: radial-gradient(
  50% 2900.76% at 50% 53.89%,
  rgba(58, 52, 86, 0.95) 0%,
  #211e2e 100%
);
$CARD-BG: radial-gradient(50% 50% at 50% 50%, #433d60 0%, #211e2e 100%);
